<div id="commentsection">
  <% if current_user.profilepicture%>
  <img src="/uploads/<%=current_user.profilepicture%>">
  <%else%>
  <img src="/uploads/profiledefault.png">
  <%end%>
  <%=form_tag(controller: "comments",action: "createcomment",method: "post") do%>
  <%= hidden_field_tag(:answer_id,answerid)%>
  <%= text_field_tag(:comment)%>
  <%= submit_tag("Add")%>
  <%end%>
</div>
<div id="show_comments_id<%=answerid%>">
</div>
<div id="loadmoreblock<%=answerid%>">
<%= link_to "view comment",url_for(controller: :comments,action: :loadmore,answerid: @answerid,offset:2),remote: true,id: "comment_more#{answerid}"%> 
</div>
