<link rel="stylesheet" type="text/css" href="devise/password.scss">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Francois+One" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<main>
<div class="box">
   <header id="logo">
  Rogatio
  </header>
  <script type="text/javascript">
       $('#logo').addClass('animated flipInY');
  </script>
<section>
<h4 id="heading">Forgot your password?</h4>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <% if devise_error_messages!%>
      <div id="errors">
         <%= devise_error_messages!%>
         <%= puts devise_error_messages!%>
      </div>
    <%end%>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
<footer>
<%= render "devise/shared/links" %>
</footer>
</section>
</div>
</main>
