<section class="question" id="question<%=question.id%>">
	<span><%=question.question%></span>
	<div id="questionuser">
	   <%if question.user.profilepicture%>
	   <img src="/uploads/<%=question.user.profilepicture%>">
	   <%else%>
	   <img src="/uploads/profiledefault.png">
	   <%end%>
	   <span>
	   <%=question.user.username%>
	   </span>
	</div>
	<div id="lower">
	   	<%=link_to "Answer",controller: :answers,action: :ans,method: :post,remote: true,question: question.id,id: question.id%>
	</div>
</section>
<script type="text/javascript">

</script>