<div id="storycover">
      <div id="question">
          <%=answer.question.question%>
      </div>
      <div id="header">
 <% user=User.where(id:answer.user_id).first%>
 <%if user.profilepicture%>
	   <img src="/uploads/<%=answer.user.profilepicture%>">
	   <%else%>
	   <img src="/uploads/profiledefault.png">
	   <%end%>
	   <span>
	   <%=user.username%>
	   </span>
	   <span id="time">
	   <%= " "+time_ago_in_words(answer.created_at)+" ago" %>
	   </span>
    </div>
    <div id="title_answer">
     Answer <%=answer.upvotecount.to_s+" "%> upvotes
    </div>
   <div id="bar">
   </div>
<section id="answertext<%=answer.id%>">
<%=raw answer.ans.truncate(250)%>
<%if answer.ans.length>250%>
<%=link_to "(more)",url_for(controller: :answers,action: :readextra,answer_id: answer.id),method: :post,remote: true%>
<%end%>
</section>
<div id="bar"></div>
<section class="footer" id="footer<%=answer.id%>">
	   	<% if Upvote.where(upvoteable_id:answer.id,upvoteable_type:"answer",user_id:current_user.id).length>0%>
	   	<%= link_to "DownVote | "+answer.upvotecount.to_s, url_for(controller: :upvote,action: :upvote_answer,answer: answer.id),    method: :post,remote: true,id: "button_#{answer.id}"%>
	   	<%else%>
	   	<%= link_to "Upvote | "+answer.upvote.count.to_s, url_for(controller: :upvote,action: :upvote_answer,answer: answer.id),    method: :post,remote: true,id: "button_#{answer.id}"%>
	   	<%end%>
	   	<%= link_to "Comment | ",url_for(controller: :comments,action: :docomment,answerid: answer.id),method: :get,remote: true,id:"comment_#{answer.id}"%>
 </section>
</div>