<aside id="feed">
<p>Feeds</p>
<div id="bottom border"></div>
<%= link_to "Top Stories",controller: :home,action: :topstories%>
<%= link_to "New Questions",controller: :home,action: :newquestions%>
<%= link_to "Top Rated Questions"%>
</aside>
<div class="createQuestion" id="createQuestion">
<div id="questionhead">
<%if current_user.profilepicture%>
<img src="/uploads/<%=current_user.profilepicture%>">
<%else%>
<img src="/uploads/profiledefault.png">
<%end%>
<h5><%=current_user.username%></h5>
</div>
<%=form_for @question,remote:true do |f|%>
<%=f.text_area :question, placeholder: "What is yours Question?"%><br>
<div class="action">
<%=f.submit id:'create_question_submit',value:"Add"%>
</div>
<%end%>
</div>
<div id="topstories" style="margin-top: 140px">
<% @topstories.each do | story|%>
<%=render 'stories',answer:story%>
<% end%>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	window.question_load_more_active=false;
	window.question_offset=5;
	document.addEventListener('scroll',function(event){
	   bh = document.body.offsetHeight;
       wh = $(window).height();
       scrollY = window.pageYOffset;
       console.log(window.load_more_active)
	   if(bh - wh +200 < scrollY && !window.question_load_more_active){
	         	 window.question_load_more_active=true;
	         	 console.log('question')
	         	 console.log("sending ajax request")
	             $.ajax({
	                  url:'/topstories',
	                  type:'GET',
	                  dataType:'script',
	                  data:{
	                     offset:window.question_offset,
	                     format:'js'
	                  }
	            });
	   }
	    
	});
});
</script>
