<div id="top">
  <div id="left">
  <% if current_user.profilepicture%>
  <img src="/uploads/<%=current_user.profilepicture%>">
  <%else%>
  <img src="/uploads/profiledefault.png">
  <%end%>
  <%= form_tag url_for(controller: :home,action: :upload_image),multipart: true do %>
  <%= file_field_tag :image%>
	<%= submit_tag("Upload")%>
<%end%>
  </div>
  <div  id="right">
    <h1><%=current_user.username%></h1>
    <h3><%=current_user.email%></h3>
  </div>
</div>
<section id="optionsprofile">
  <%=link_to "Questions", url_for(controller: :home,action: :myquestions),remote: true%>
  <%=link_to "Answers", url_for(controller: :home,action: :myanswers),remote: true%>
</section>
<section id="loadoptions">
  
</section>
