<div id="answercover">
   Answer <%=i%>
   <div id="bar"></div>
   <div id="header">
 <% user=User.where(id:answer.user_id).first%>
 <%if user.profilepicture%>
	   <img src="/uploads/<%=answer.user.profilepicture%>">
	   <%else%>
	   <img src="/uploads/profiledefault.png">
	   <%end%>
	   <span>
	   <%=user.username%>
	   </span>
	   <span id="time">
	   <%= " "+time_ago_in_words(answer.created_at)+" ago" %>
	   </span>
   </div>
<section id="answer_text">
<%=answer.ans.html_safe%>
</section>
<div id="bar"></div>
<section id="footer">
	   	<% if Upvote.where(upvoteable_id:answer.id,upvoteable_type:"answer",user_id:current_user.id).length>0%>
	   	<%= link_to "DownVote | "+Upvote.where(upvoteable_id:answer.id,upvoteable_type:"answer").length.to_s, url_for(controller: :upvote,action: :upvote_answer,answer: answer.id),    method: :post,remote: true,id: "button_#{answer.id}"%>
	   	<%else%>
	   	<%= link_to "Upvote | "+Upvote.where(upvoteable_id:answer.id,upvoteable_type:"answer").length.to_s, url_for(controller: :upvote,action: :upvote_answer,answer: answer.id),    method: :post,remote: true,id: "button_#{answer.id}"%>
	   	<%end%>
 </section>
</div>
