<div id="answer<%=questionid%>" class="answer">
<section id="header">
  <% if current_user.profilepicture%>
  <img src="/uploads/<%=current_user.profilepicture%>">
  <%else%>
  <img src="/uploads/profiledefault.png">
  <%end%>
  <p> <%= current_user.username%></p>
</section>
<%= form_for @answer=Answer.new,remote: true,:html=>{id:"newans_#{questionid}"} do |f|%>
<%=f.hidden_field :question_id,value:questionid %>
<%=f.hidden_field :user_id, value: current_user.id.to_s %>
<%=f.trix_editor :ans%>
<div class="actions">
<%= f.submit id:"create",value:"Submit"%>
</div>
<%end%>
</div>