<div id="mainsectionanswer">
<aside id="feed">
<p>Feeds</p>
<div id="bottom border"></div>
<%= link_to "Top Stories",controller: :home,action: :topstories%>
<%= link_to "New Questions",controller: :home,action: :newquestions%>
<%= link_to "Top Rated Questions"%>
</aside>
<% if @answers.length>0%>
<%question=Question.where(id:@answers[0].question_id).first%>
<section class="question">
<span><%=question.question%></span>
<div id="questionuser">
	   <%if question.user.profilepicture%>
	   <img src="/uploads/<%=question.user.profilepicture%>">
	   <%else%>
	   <img src="/uploads/profiledefault.png">
	   <%end%>
	   <span>
	   <%=question.user.username%>
	   </span>
	   <span id="time">
	   <%= " "+time_ago_in_words(question.created_at)+" ago" %>
	   </span>
</div>
</section>
<%i=1%>
<%@answers.each do |answer|%>
      <%= render 'answersshowme', answer: answer,i: i%>
      <%i=i+1%>
<%end%>
<%else%>
  <span style="margin-top:70px">No answer yet posted for this question</span>
<%end%>
</div>