<!DOCTYPE html>
<html>
<head>
  <title>Rogatio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Francois+One" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div id="cover">
<%if notice%>
<script type="text/javascript">
		noty({text:'<%=notice%>',layout:'topCenter',type:'information',theme:'defaultTheme'});
	</script>
<%end%>
<% if alert%>
<script type="text/javascript">
		noty({text:'<%=alert%>',layout:'topCenter',type:'error'});
</script>
<%end%>
<% if user_signed_in?%>
<header id="mainheader">
<section id="left"> 
Rogatio
</section>
<section id="right">
<nav>
<ul id="links">
     <li><%= link_to "Users",user_path%></li>
     <li><button id="profile" class="profile">
     <%if current_user.profilepicture%>
     <img src="/uploads/<%=current_user.profilepicture%>">
     <%else%>
     <img src="/uploads/profiledefault.png">
     <%end%>
     <%=current_user.username%></button>
     <div id="dropdown">
     <%=link_to "Profile",controller: :home,action: :profile,method: :get%>
     <%=link_to "Sign out", destroy_user_session_path,method: :delete%>
          
     </div>
     <script type="text/javascript">

          $('#profile').click(function(event){
                this.style["background-color"]="#f6f6f6";
                var openDropdown=document.getElementById("dropdown");
                if (openDropdown.style.display=="none"||openDropdown.style.display==""){
                   openDropdown.style.display="block";
                }
                else{
                    openDropdown.style.display="none";
                    this.style["background-color"]="#fff"
                }
           });
         $(window).click(function(event){
             if(event.target.id!='profile'){
               var openDropdown=document.getElementById("dropdown");
                if(openDropdown.style.display=='block')
                    openDropdown.style.display="none";
                    $('#profile').css("background-color","#fff");
                
             }
         });
 </script>
</ul>
</nav>
</section>
</header>
<%end%>
<%= yield %>
</div>
</body>

</html>
