<!DOCTYPE html>
<html>
<head>
  <title>Rogatio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%if notice%>
<script type="text/javascript">
		noty({text:'<%=notice%>',layout:'topCenter',type:'information',theme:'defaultTheme'});
	</script>
<%end%>
<% if alert%>
<script type="text/javascript">
		noty({text:'<%=alert%>',layout:'topCenter',type:'error'});
</script>
<%end%>
<%= yield %>
</body>
</html>
